<%= form_for(partner) do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :aws_logo_url %>
    <%= f.text_field :aws_logo_url, class: "form-control" %>
  </div>
  <%= f.submit 'Submit', class: "btn btn-default" %>
<% end %>
