<h1>This is a rails rail </h1>
<nav>
  <% if donor_signed_in? %>
    <ul>
      <li>Hello, <%= link_to current_donor.email, edit_donor_registration_path %></li>
      <li><%= link_to 'Log Out', destroy_donor_session_path, method: :delete %></li>
    </ul>
  <% elsif admin_signed_in? %>
    <ul>
      <li>Hello, admin <%= link_to current_admin.email, edit_admin_registration_path %></li>
      <li><%= link_to 'Log Out', destroy_donor_session_path, method: :delete %></li>
    </ul>
  <% else %>
    <ul>
      <li><%= link_to 'Sign Up', new_donor_registration_path %></li>
      <li><%= link_to 'Sign in', new_donor_session_path %></li>
    </ul>
  <% end %>
</nav>

<section>
  <h2>Test</h2>
  <p><%= @location %></p>
</section>
