<%= form_for([context, address]) do |f| %>

  <div class="form-group">
    <%= f.label :street1 %>
    <%= f.text_field :street1, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :street2 %>
    <%= f.text_field :street2, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :city %>
    <%= f.text_field :city, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :state %>
    <%= f.text_field :state, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :zip %>
    <%= f.text_field :city, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :phone %>
    <%= f.text_field :phone, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :email %>
    <%= f.text_field :email, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :homepage %>
    <%= f.text_field :homepage, class: "form-control" %>
  </div>

  <%= f.submit 'Submit', class: "btn btn-default" %>
<% end %>
