<h1>Campaign</h1>
<h3><%= @campaign.name %></h3>
<p><%= @campaign.description %></p>
<p>Goal: <%= @campaign.dollar_goal %></p>
<p>Start Date: <%= @campaign.start_date %></p>
<p>End Date: <%= @campaign.end_date %></p>
<p>Time Zone: <%= @campaign.time_zone %></p>
<p>
  <% if @campaign.active? %>
  Active campaign
  <% else %>
  Inactive campaign
  <% end %>
</p>

<% if admin_signed_in? %>
  <hr />
  <div>
    <%= link_to 'Edit Campaign', edit_location_project_campaign_path(@location, @project, @campaign), class: "btn btn-default" %>
  </div>
<% end %>
